.main-layout{
    display:flex;
}

.main-content{
    margin-left:260px;
    flex:1;
    min-height:100vh;
    background:linear-gradient(
        135deg,
        #fff1f7,
        #fdfdfd
    );
    overflow-x:hidden;
}

.main-content main{
    padding:32px;
}
@media (max-width:1024px){

    .main-content{
        margin-left:80px;
    }

}